@font-face {
    font-family: Ralewaybold;
    font-weight: 700;
    src: url(../fonts/Raleway-Bold.woff);
}
@font-face {
    font-family: Ralewaybold;
    font-weight: 700;
    src: url(../fonts/Raleway-Bold.woff2);
}
@font-face {
    font-family: Ralewayregular;
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.woff);
}
@font-face {
    font-family: Ralewayregular;
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.woff2);
}