.header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}
.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}
.header__links-list {
    display: flex;
    gap: 23px;
}
.header__links-list-item {
    list-style: circle;
    
}
.header__links-list-item_no-bullit {
    list-style-type: none;
}
.header__link {
    font-family: Ralewayregular;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}
.header__link_active {
    border-bottom: none;
}
.address {
    font-family: Ralewayregular;
    font-size: 18px;
    line-height: 24.3px;
    font-style: normal;
    max-width: 240px;
}
.address a {
    text-underline-offset: 4px;
}
.header__address {
    justify-self: end;
}
main {
    display: grid;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}
.overlay {
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.cover-title {
    position: relative;
    margin-top: 115px;
    margin-bottom: 106px;
    color:#ffffff;
    font-family: Ralewaybold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 33px;
    line-height: 115%;
    z-index: 10;
}
.no-letter-spacing {
    letter-spacing: 0;
}
.aligned-text {
    display: block;
    margin-bottom: 20px;
}
.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: right;
    margin-bottom: 0;
}
.cover__description {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.cover__description-text {
    color:#ffffff;
    text-transform: uppercase;
    font-family: Ralewayregular;
    font-size: 22px;
    line-height: 28px;
    display: inline-block;
}
.letter-spacing-extended {
    word-spacing: 20px;
}
.bet-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    color:#ffffff;
    font-family: Ralewayregular;
    font-size: 22px;
    font-weight: 500;
    padding: 11px 31px 12px 32px;
    cursor: pointer;
}

.lots {
   margin: 180px 24px 0 24px;
}
.lots__heading {
    font-family: Ralewaybold;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}
.lots__card-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.lots__card-list-item {
    min-height: 596px;
    width: 334px;
}
.card-link {
    height: 100%;
    text-decoration: none;
}
.card {
    position: relative;
    display: flex;
    padding: 48px 40px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-position: center center;
    background-size: cover;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}
.card__title {
    font-family: Ralewaybold;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    color:#ffffff;
    text-decoration: underline 1px;
    text-underline-offset: 3px;
    z-index: 2;
}
.card__text {
    font-family: Ralewayregular;
    font-size: 20px;
    line-height: 1.2;
    color:#ffffff;
    z-index: 2;
}
.lots__look-more-link {
    display: block;
    font-family: Ralewayregular;
    font-size: 20px;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    margin: 30px 0 0 40px;
}

.about {
    display: grid;
    grid-template-columns: 33% auto;
    margin-top: 120px;
}
.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 35px 47px 0 47px;
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
}
.about__logo-image {
    width: 148px;
    height: 114px;
}
.about__column {
    margin: 136px 25px 0 25px;
}
.about__title {
    font-family: Ralewaybold;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.about__text {
    font-family: Ralewayregular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}
.about__text-spacing {
    margin-bottom: 24px;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    align-items: start;
    padding: 1px 50px 82px;
    margin-top: 180px;
}
.footer__address {
    justify-self: start;
}
.footer__menu-list-item {
    list-style: none;
    text-align: center;
}
.footer__menu-link {
    font-family: Ralewayregular;
    font-size: 18px;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list {
    display: flex;
    justify-content: space-between;
}
.footer__social-list-item {
    list-style: none;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}